<h3>Leadership</h3>
<div class="AMA">
  <span
    ><img class="logo" src="/assets/images/Nawazish.png" alt="User Logo Image"
  /></span>
  <h5>Agha Mazhar Ali</h5>
  <h6>Co-founder and CEO</h6>
</div>
<div class="ANA">
  <span
    ><img class="logo" src="/assets/images/user.png" alt="User Logo Image"
  /></span>
  <h5>Agha Nawazish Ali</h5>
  <h6>Co-founder and CEO</h6>
</div>
<div class="AH">
  <span
    ><img class="logo" src="/assets/images/Ahmad.png" alt="User Logo Image"
  /></span>
  <h5>Ahmad Hassan</h5>
  <h6>Board</h6>
</div>
<div class="MH">
  <span
    ><img class="logo" src="/assets/images/Mujtaba.png" alt="User Logo Image"
  /></span>
  <h5>Mujtaba Hassan</h5>
  <h6>Board</h6>
</div>
