<h3>About us</h3>
<p>
  We started our business as traders in the 1960s, then moved to distribution;
  after that, we started a business as a manufacturer of high-quality cosmetics
  products in 2004. At A.S Cosmetics, we believe that beauty comes from within
  all of us. Our luxurious cosmetics line captures great-looking skin with
  gorgeous colors and quality ingredients. Our products are designed to let your
  inner beauty shine through. Our main products include hair color cream,
  shampoo, hair conditioner, and depilatory products. We also have automatic
  filling production lines. All products are made under the safety ordinance of
  China, the USA, and Europe. We have built good relationships with domestic and
  overseas clients through our high-quality products, first-class management
  system, and excellent after-sales service.
</p>
<!-- <p-button label="Submit"></p-button> -->
<h4>Vission</h4>
<p>
  In 5 years, be the market leader in Hair and body cosmetic products for home
  and professional use within the national brand segment, working with the
  Centers for Aesthetic as strategic partners in business development and
  sustainable growth.
</p>

<h4>Mission Statement</h4>
<p>
  Customer care, support, and gratification are our challenges as new health &
  beauty leaders. Our professional team will continuously aim to surprise and
  exceed our client’s expectations!
</p>
